@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&display=swap');
@font-face {
    font-family: "FreePixel";
    src: url("fonts/FreePixel.ttf") format("truetype");
}

:root {
    --background: rgb(6, 6, 6);
    --banner-background: rgb(10, 10, 10);
    --banner-hover: rgb(14, 14, 14);
    --sub_banner-background: rgb(12, 12, 12);
    /*--sub_banner-hover: rgb(11, 11, 11);*/
    --sub_banner-hover: #1e1a22;
    --text-color: #c6b0df;
    --a-color: #ab97c2;
}

html, body {
    background-color: var(--background);
    color: var(--text-color);
    box-sizing: border-box;
    font-size:16px;
    font-family: "Geist", "Geist Mono", sans-serif;
}

code {
    font-family: "Geist Mono", monospace;
}

a {
    display:inline-block;
    color: var(--a-color);
    font-size:16px;
    background-color: var(--banner-background);
    transition: .2s ease-in-out;
}

a:hover {
    background-color: var(--a-color);
    color: var(--banner-background);
/*    font-size: 16px;*/
    transform:scale(1.05);
}

.selectedPage {
    font-style: italic;
}

.cont {
    max-width: 850px;
    margin:0 auto;
}

.bannerBox {
    margin-top:10px;
    padding:8px;
    width:850px;
    min-width:fit-content;
    border-radius:12px;
    background-color: var(--banner-background);
    transition: .2s ease-in-out;
}

.bannerBox .sub_bannerBox {
    padding: 10px;
    background-color: var(--sub_banner-background);
    border-radius:9px;
    transition: .2s ease-in-out;
}

.bannerBox .sub_bannerBox a {
    color: var(--a-color);
    background-color: var(--sub_banner-background);
    transition: .2s ease-in-out;
}

.bannerBox .sub_bannerBox a:hover {
    background-color: var(--a-color);
    color: var(--sub_banner-background);
/*    font-size: 16px;*/
    transform:scale(1.05);
}

@media only screen and (max-width: 375px){
    .bannerBox {
        width: 330px !important;
    }
}

@media only screen and (max-width: 400px) and (min-width: 376px){
    .bannerBox {
        width: 360px !important;
    }
}

@media only screen and (max-width: 600px) and (min-width: 401px){
    .bannerBox {
        width: 380px !important;
    }
}

@media only screen and (max-width: 850px) and (min-width: 601px) {
    .bannerBox {
        width: 775px !important;
    }
}

.bannerBox:hover {
    border-radius:14px;
    background-color: var(--banner-hover);
}

.bannerBox:hover a {
    color: var(--a-color);
    background-color: var(--banner-hover);
    transition: .2s ease-in-out;
}

.bannerBox:hover a:hover {
    background-color: var(--a-color);
    color: var(--banner-hover);
    transform:scale(1.05);
}

.bannerBox .sub_bannerBox:hover {
    padding: 10px;
    background-color: var(--sub_banner-hover);
    transform:scale(1.0175);
}

.bannerBox:hover .sub_bannerBox {
    border-radius:12px;
}

.bannerBox .sub_bannerBox:hover a {
    color: var(--a-color);
    background-color: var(--sub_banner-hover);
    transition: .2s ease-in-out;
}

.bannerBox .sub_bannerBox:hover a:hover {
    background-color: var(--a-color);
    color: var(--sub_banner-hover);
    transform:scale(1.05);
}
.flex {
    display: flex;
    max-width:850px;
}

.logo {
    width:auto;
    height:86px;
    transition: .6s ease-in, .2s ease-out;
    display:inline-block;
}

.logo:hover {
    transform:scale(1.05) rotate(1.6deg) !important;
}

.container-padded {
    padding:22px;
}

.main-cont {
    width: 75%;
}

ul {
    margin-top:0;
}

h1 {
    margin:0;
}

.project_title {
    font-size: 20px;
    font-weight: bold;
}

.my_name {
    transition: transform .2s ease-in-out !important;
    -webkit-background-clip: text !important;
}

.my_name:hover {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3) !important;
    color: #ab97c230 !important;
    -webkit-background-clip: text !important;
    transform:matrix(1.065, 0.015, 0.015, 1.065, 0, 0) !important;
    transition: transform .2s ease-in-out !important;
}
