@font-face {
    font-family: "FreePixel";
    src: url("fonts/FreePixel.ttf") format("truetype");
}

html, body {
    background-color:#000000;
    color:#c6b0df;
    box-sizing: border-box;
    font-size:16px;
    font-family:"FreePixel", monospace;
}

a {
    color: #ab97c2;
    font-size:16px;
    background-color:#000;
}

a:hover {
    background-color:#ab97c2;
    color:#000;
}

.selectedPage {
    font-style: italic;
}

.selectedPage:hover {
    font-style: normal;
}

h1 {
    padding:0;
}

.cont {
    max-width: 850px;
    margin:0 auto;
}

.bannerBox {
    margin-top:10px;
    padding:8px;
    width:850px;
    min-width:fit-content;
    border-radius:8px;
}

.flex {
    display: flex;
    max-width:850px;
}

.logo {
    width:auto;
    height:86px;
}

.container-padded {
    padding:22px;
}

.main-cont {
    width: 74%;
}

ul {
    margin-top:0;
}

h1 {
    margin:0;
}